# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Conda/Virtual Environments
.env
.venv
env/
venv/
*.egg-info/

# VSCodium
.vscode/

# Betriebssystem
.DS_Store
Thumbs.db

# Jupyter Notebooks
.ipynb_checkpoints/

# Distribution/Packaging
dist/
build/
